name: Preview Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  release:
    name: Preview Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 21 ]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make Gradle Wrapper Executable
        run: chmod +x ./gradlew
     
      - name: Build With Gradle Wrapper
        run: ./gradlew shadowJar

      - name: Capture Release Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: |
            build/libs/*.jar
            !build/libs/*-sources.jar
